label {
    font-weight: bold;
}

body{
    background-color: #565656;
}


#taskList{
    background-color: #565656;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

#header-div{
    margin-left: 600px;
    margin-top: 50px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

#input-div {
    margin-left: 520px;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 70px;
    height: 300px;
    width: 500px;
    background-color: #76323f;
    color: white;
    
}

#name-input{
    margin-left: 100px;
    padding: 5px;

}

#desc-input{
    margin-left: 100px;
    margin-top: 60px;
}

#submit-btn{
    background-color: #565656; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    margin-left: 380px;
    margin-top: 70px;

}

#task {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: -100px;
    right: 120px;
}

#team-member {
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 10px;
   
}

#tasks{
    color: white;
    font-family: sans-serif;
}